* {
    margin: 0;
    padding: 0;
}

html {
    background-image: linear-gradient(180deg, rgba(255,250,0,1) 0%, rgba(236,225,102,1) 38%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    width:100%;
    height:100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-b
}

.calcContainer {
    display: flex;
    flex-wrap: wrap;
    
    margin: auto;
    margin-top:7%;
    width: 250px;
    height: 350px;
    border-style: dotted;

}
.displayContainer {
    border-style: dotted;
    width: 100%;
    height:auto;
}
button {
    width: 80px;
    height: 30px;
}